
.top-nav{
    position: sticky;
    width: 600px;
    height: 50px;
    color: #f6f6f6;
    margin-left: auto;
    width: 1030px;
  }

.side-bar{
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 200px;
    height: 100%;
    background-color: rgb(88, 179, 190);
    margin-top: -50px;
}

.side-bar p{
    color: rgb(88, 179, 190);
    background-color: rgb(255, 255, 255);
    width: 135px;
    height: 25px;
    margin-left: 5px;
    text-align: center;
    padding: 3px;
    border-radius: 5px;
    margin: auto;
    margin-top: 20px;
}

.top-nav ul{
    display: flex;
    justify-content: right;
}

.top-nav ul img {
    width: 18px;
    height: 20px;
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
}
.top-nav ul li {
    padding: 10px;
    list-style: none;
}

.top-nav ul li a {
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
}

.top-nav ul li a:hover {
  background-color: darkslategrey;
  color: antiquewhite;

}

.side-bar-contents ul{
    padding-top: 30px;
}

.side-bar-contents ul li{
    padding-bottom: 15px;
    list-style: none;
}

.side-bar-contents ul li a {
    text-decoration: none;
    margin-left: -20px;
    color: darkslategrey;
}

.main{
    display: flex;
    justify-content: flex-end;
    overflow-y: scroll;
    overflow-x: hidden;
}

.main-contents{
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 1030px;
    height: 100%;
    background-color: rgb(245, 245, 245);
}